/* Used inline to highlight a keyword */
code {
	font-family: courier;
	font-weight: bold;
}

/* Use to put a box around code */
div.code {
	width: 500;			/* The box should be 500 pixels wide, can be a % */
	margin-left: 40px;		/* Indent box by 40 pixels */
	margin-top: 10px;		/* 10 pixel space between top of box and previous element */
	margin-bottom: 10px;		/* 10 pixel space between bottom of box and next element */
	border-width: 1;
	border-color: silver;
	background-color: #fafafa;	/* Hex colour code for light grey */
	border-style: dotted;		/* Make a dotted border instead of a solid one */
	padding: 5;			/* 5 pixel space around content */
	padding-left: 20;		/* except for the left edge which has 20 pixels */
	font-family: courier;
	font-size: 14;
	font-weight: normal;		/* Can be bold */
}

pre {
	margin: 0;
}