@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:700');

body {
	font-family: 'Open Sans', sans-serif;
	color: rgba(0, 0, 0, 0.9);
	font-size: 100%;
	margin: 0;
}

code {
	font-family: courier;
	font-weight: bold;
}

pre {
	margin: 0;
}

h1, h2 {
	font-family: 'Playfair Display', serif;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

a {
	color: #bb8d2a;
}

.flex-col {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.code {
	margin-left: 40px;		/* Indent box by 40 pixels */
	margin-top: 10px;		/* 10 pixel space between top of box and previous element */
	margin-bottom: 10px;		/* 10 pixel space between bottom of box and next element */
	border-color: silver;
	background-color: #fafafa;	/* Hex colour code for light grey */
	border-style: dotted;		/* Make a dotted border instead of a solid one */
	font-family: courier;
	font-weight: normal;		/* Can be bold */
}
