.title {
  font-size: 1.25rem;
  font-weight: bold;
  color: navy;
}

#top-block {
  background-color: pink;
  padding: 2rem;
}

#content-block {
  background-color: green;
  padding: 1rem;
}

#floater {
  position: absolute;
  left: 20px;
  top: 400px;
  background-color: orange;
  width: 100px;
  height: 100px;
}
